{% extends "AppPeliculas/padre.html" %}

{% block titulo %} 
Acá puedes ver los Partidos
{% endblock %} 

{% block contenido1 %}

<ol>

{% for x in object_list %}

<li>    {{x.equipo_local}} vs {{x.equipo_visitante}}  </li>
    <a href="{% url 'Detalle Partido' x.id %}">Detalle del partido</a> 
    <a href="{% url 'Actualizar Partido' x.id %}">Actualizar</a> 
    <a href="{% url 'Borrar Partido' x.id %}">Borrar</a>

{% endfor %}

</ol>

<br>

<a class="btn btn-primary" href="{% url 'Crear Partido' %}">Agregar nuevo partido</a>


{% endblock %}